
	
		<ul class='border'>
			<% if session[:callType] == 'ID' %>
				
					<div class= 'form_content'>
						<%= err = displayErr("ResponseJob")%>
				     <%if err.nil? && !@returnValue["ResponseJob"]["Job"].nil? && !@returnValue["ResponseJob"]["Job"].empty? %>  	
				       <%= displayIDResults.html_safe %>
				     <%end%>		
				   </div>
				
			<%elsif session[:callType] == 'Keyword' %>	
				
					<div class= 'form_content'>
						
						


						<%= err = displayErr("ResponseJobSearch")%>
						<%if err.nil? %>

						  <%= page = params[:pagenumber].blank? ? 1 : params[:pagenumber].to_i %>
						  <button type="button" onclick="javascript:loadPage(<%=page-1%>);">Prev Page</button>

						  <button type="button" onclick="javascript:loadPage(<%=page+1%>);">Next Page</button>
							<%if !@returnValue["ResponseJobSearch"]["Results"]["JobSearchResult"].nil? && !@returnValue["ResponseJobSearch"]["Results"]["JobSearchResult"].empty? %>

								<%= displayKeywordResults.html_safe %>
							<%end%>
						<%end%>
					</div>
			
			<%end%>
		
		</ul>


	




