

<H1> Please enter the <%= "#{session[:callType]}" %> </H1>



<div class='main'>
	<%= form_tag("/apicalltocb/show", :method => "get") do %>
		<ul class='border'>
			<div class="error_wrapper">
				Please correct the following errors
				<div class="error_display">
					<ul id="error_display">
					</ul>
				</div>
			</div>
		  <p></p>
			<div class= 'form_content'>
			
			
				<%if (params[:calltype] == "ID" )|| (session[:callType] == "ID") %>
					<div>
						<%= label_tag(:q1, "Job ID:") %>
						 <%= text_field_tag(:did, "", {:class=>"input", :err=>'Enter a valid DID'}) %>
						 <div id="tip1_up" style="display:none;"><pre class="tip">{ No valid DID Entered.}</pre></div>
					</div>
			 	<%elsif (params[:calltype] == "Keyword") || (session[:callType] == "Keyword")%> 
					<div>
						<span>
							<%= label_tag(:q1, "Keyword:") %>
						  <%= text_field_tag(:keywords, "", {:class=>"input", :err=>'No Keyword Entered.'}) %>
						  <div id="tip2_up" style="display:none;"><pre class="tip">{ No Keyword Entered.}</pre></div>
						</span>
						<span>
						  <%= label_tag(:q2, "Location:") %>
						  <%= text_field_tag(:location, "", {:class=>"input", :err=>'No Location Entered.'}) %>
						   <div id="tip3_up" style="display:none;"><pre class="tip">{ No Location Entered.}</pre></div>
						</span>
					</div>
				<% end %>
				<p>
				<div>
					<%= label_tag(:q1, "Developer Key:") %>
				  <%= text_field_tag(:developer_key, "", {:class=>"input", :err=>'Enter a valid Devloper Key.'}) %>
				  <div id="tip4_up" style="display:none;"><pre class="tip">{ Enter a valid Devloper Key.}</pre></div>
				</div>
				</p>


				<br>
				<br>
				<div>
					  <p class='submit_form'><%= submit_tag("Submit", :id => "btnSubmit"  ) %></p>
				</div>
			</div>
		</ul>
		<br><%= link_to 'Home', :action=>'home' %>

	<% end %> 

</div>





